@{
    ViewBag.Title = "StudentHome";
    Layout = "~/Views/Shared/ArabicLayout/_ArabicStudentLayout.cshtml";
}

<div>
    <h2>@StudentActivity.Resources.Language.StudentHome</h2>
    <ul>
        <li>
            @StudentActivity.Resources.Language.StudentHome_can_do_1
        </li>
        <li>
            @StudentActivity.Resources.Language.StudentHome_can_do_2
        </li>
        <li>
            @StudentActivity.Resources.Language.StudentHome_can_do_3
        </li>
        <li>
            @StudentActivity.Resources.Language.StudentHome_can_do_4
        </li>
    </ul>
    <hr />
</div>

<img class="col-lg-offset-4 col-md-offset-4 col-sm-offset-3
col-xs-offset-2 col-lg-4 col-md-4 col-sm-6 col-xs-8"
     alt="Juc logo" src="/images/Juc logo.png" />
