@model IEnumerable<StudentActivity.Models.Club>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ArabicLayout/_ArabicAdminLayout.cshtml";
}

<h2></h2>

<p>
    @Html.ActionLink("+ " + StudentActivity.Resources.Language.Add_New_Club, "addClub", "ArabicClub", new { @class = "btn btn-blue btn-left" })
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @StudentActivity.Resources.Language.Coordinator
        </th>
        <th>
            @StudentActivity.Resources.Language.Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink(StudentActivity.Resources.Language.Edit, "EditClub", "ArabicClub", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink(StudentActivity.Resources.Language.Delete, "DeleteClub", "ArabicClub", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>