@model IEnumerable<StudentActivity.Models.Student_Club>
@{
    ViewBag.Title = "ShowStuOfClub";
    Layout = "~/Views/Shared/ArabicLayout/_ArabicAdminLayout.cshtml";

    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "AdminHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Clubs, "Index", "Club")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Students_List, "ShowStuOfClub", "Club")</li>
        </ul>
    </div>
}


<h2>@StudentActivity.Resources.Language.Students_List</h2>


<table class="table table-striped table-hover">
    <tr>
        <th>
            @StudentActivity.Resources.Language.Student_Id
        </th>
        <th>
            @StudentActivity.Resources.Language.Student_Name
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
        </tr>
    }

</table>