@model IEnumerable<StudentActivity.Models.Program>

@{
    ViewBag.Title = "AvailablePrograms";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishAdminLayout.cshtml";

    ///HistoryBar Showing the Pages History
    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "AdminHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Available_Programs, "AvailablePrograms", "Program")</li>
        </ul>
    </div>
}

@{
    // Receiving The Alerts From The Controller using The ViewBag

    if (ViewBag.AddProgramByAdminSuccessMessage == 1)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <strong>@StudentActivity.Resources.Language.Success</strong> @StudentActivity.Resources.Language.ProgramAddedSuccessflully
        </div>

        ViewBag.AddProgramByAdminSuccessMessage = 0;

    }

    if (ViewBag.EditProgramByAdminSuccessMessage == 1)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <strong>@StudentActivity.Resources.Language.Success</strong> @StudentActivity.Resources.Language.ProgramEditedSuccessflully
        </div>

        ViewBag.EditProgramByAdminSuccessMessage = 0;

    }

    if (ViewBag.DeleteProgramByAdminSuccessMessage == 1)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <strong>@StudentActivity.Resources.Language.Success</strong> @StudentActivity.Resources.Language.ProgramDeletedSuccessflully
        </div>

        ViewBag.DeleteProgramByAdminSuccessMessage = 0;

    }

    if (ViewBag.RetrieveProgramSuccessMessage == 1)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <strong>@StudentActivity.Resources.Language.Success</strong> @StudentActivity.Resources.Language.ProgramRetrievedSuccessflully
        </div>

        ViewBag.RetrieveProgramSuccessMessage = 0;

    }
}

<h2></h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @StudentActivity.Resources.Language.ProgramName
        </th>
        <th>
            @StudentActivity.Resources.Language.Time
        </th>
        <th>
            @StudentActivity.Resources.Language.StartDate
        </th>
        <th>
            @StudentActivity.Resources.Language.EndDate
        </th>
        <th>
            @StudentActivity.Resources.Language.MaximumStudentNumber
        </th>
        <th>
            @StudentActivity.Resources.Language.Club_Name
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var CurrentDate = ViewBag.CurrentDate;
        var CurrentTime = ViewBag.CurrentTime;

        //------

        var CurrentYear = CurrentDate.Substring(CurrentDate.Length - 4);
        var PrgramEndYear = item.EndDate.Substring(item.EndDate.Length - 4);
        var PrgramStartYear = item.StartDate.Substring(item.StartDate.Length - 4);

        var EndYearValidate = CurrentYear.CompareTo(PrgramEndYear);
        var StartYearValidate = CurrentYear.CompareTo(PrgramStartYear);

        //-----

        var CurrentMonth = CurrentDate.Substring(2, 4);
        var PrgramEndMonth = item.EndDate.Substring(2, 4);
        var PrgramStartMonth = item.StartDate.Substring(2, 4);

        var EndMonthValidate = CurrentMonth.CompareTo(PrgramEndMonth);
        var StartMonthValidate = CurrentMonth.CompareTo(PrgramStartMonth);

        //----

        var CurrentDay = CurrentDate.Substring(0, 2);
        var PrgramEndDay = item.EndDate.Substring(0, 2);
        var PrgramStartDay = item.StartDate.Substring(0, 2);

        var EndDayValidate = CurrentDay.CompareTo(PrgramEndDay);
        var StartDayValidate = CurrentDay.CompareTo(PrgramStartDay);

        // To compare the Today's date and time with the ProgramEnd Date and time
        var EndDateValidate = CurrentDate.CompareTo(item.EndDate);

        var StartDateValidate = CurrentDate.CompareTo(item.StartDate);

        var EndTimeValidate = CurrentTime.CompareTo(item.Time);

        // These string are for dealing with hour 12:00 AM that is grather than other hours in number. However, 12 comes before other hours in time.

        string str = item.Time.Substring(0, 3);                     // Getting the first three chars
        string str1 = item.Time.Substring(item.Time.Length - 5);    // Getting the last chars
        string str2 = item.Time.Substring(item.Time.Length - 2);    // Getting the last two chars (AM)

        if (str2.Equals("AM"))
        {
            // Checks if the first chars equals the 12 hour
            if (str.Equals("12:"))
            {
                // Combining
                string ProgramTime = "00:" + str1;
                EndTimeValidate = CurrentTime.CompareTo(ProgramTime);

            }
        }

        if (EndYearValidate > 0)
        {
            continue;
        }

        else
        {
            if (EndMonthValidate > 0)
            {
                continue;
            }

            else
            {
                if (EndDayValidate > 0)
                {
                    continue;
                }

                // Program is still available, show it
                else
                {
                    if (EndDayValidate == 0 && EndTimeValidate > 0)
                    {
                        continue;
                    }

                    else
                    {
                        if (EndDayValidate == 0 && EndTimeValidate > 0)
                        {
                            continue;
                        }

                        else
                        {
                            <tr>
                                <td>
                                    @item.Title
                                </td>
                                <td width="80">
                                    @item.Time
                                </td>
                                <td>
                                    @item.StartDate
                                </td>
                                <td>
                                    @item.EndDate
                                </td>
                                <td class="text-center">
                                    @item.MaximumStudentNumber
                                </td>
                                <td>
                                    @item.Club.Name
                                </td>
                                <td align="right" width="300">
                                    @Html.ActionLink(@StudentActivity.Resources.Language.EditProgram, "EditProgram", "Program", new { id = item.Id }, new { @class = "btn btn-blue" })

                                    @*
                                        This href button is in case we want to set a confirmation message for the Edit program button

                                        <a href="@Url.Action("EditProgram", "Program", new { studentId = item.Id})" class="DeleteProgramByAdminConfirmationEng btn btn-blue">@StudentActivity.Resources.Language.EditProgram</a>
                                    *@

                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.Id">
                                        @StudentActivity.Resources.Language.Details
                                    </button>

                                    <!-- Details Modal -->
                                    <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h3 class="modal-title text-center" id="exampleModalLabel">@item.Title</h3>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table table-bordered table-hover">
                                                        <tr class="danger">
                                                            <td class="row-center">@StudentActivity.Resources.Language.Time:</td>
                                                            <td class="row-center">@item.Time</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="row-center">@StudentActivity.Resources.Language.StartDate:</td>
                                                            <td class="row-center">@item.StartDate</td>
                                                        </tr>

                                                        <tr class="danger">
                                                            <td class="row-center">@StudentActivity.Resources.Language.EndDate:</td>
                                                            <td class="row-center">@item.EndDate</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="row-center">@StudentActivity.Resources.Language.MaximumStudentNumber:</td>
                                                            <td class="row-center">@item.MaximumStudentNumber</td>
                                                        </tr>
                                                        @if (item.Description != null)
                                                        {
                                                            <tr class="danger">
                                                                <td class="row-center">@StudentActivity.Resources.Language.Description:</td>
                                                                <td>@item.Description</td>
                                                            </tr>
                                                        }
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    @* This href is going to call  LeaveClubConfirmationEng javascrip function to show the confrimatio message before it goes to the action*@
                                    <a href="@Url.Action("DeleteProgram", "Program", new { id = item.Id })" class="DeleteProgramByAdminConfirmationEng btn btn-danger">@StudentActivity.Resources.Language.Delete</a>

                                </td>

                                <td align="right">
                                    @{
                                        if (StartYearValidate < 0 || StartMonthValidate < 0 || StartDayValidate < 0)
                                        {
                                            //This href is going to call  LeaveClubConfirmationEng javascrip function to show the confrimatio message before it goes to the action
                                            <button class="btn btn-default btn-block">
                                                @StudentActivity.Resources.Language.OpeningSoon
                                            </button>
                                        }

                                        else
                                        {
                                            //This href is going to call LeaveClubConfirmationEng javascrip function to show the confrimatio message before it goes to the action
                                            <button class="btn btn-success btn-block">
                                                @StudentActivity.Resources.Language.ProgramOpened
                                            </button>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            }
        }
    }
</table>
