@model StudentActivity.ViewModel.ProgramViewModel

@{
    ViewBag.Title = "ProgramForm";
    Layout = "~/Views/Shared/EnglishLayout/ParameterIdLayout/_AdminPIdLayout.cshtml";

    //HistoryBar Showing the Pages History
    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "AdminHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Available_Programs, "Index", "Program")</li>
            @*<li>@Html.ActionLink(StudentActivity.Resources.Language.EditProgram, "EditProgram", "Program")</li>*@
            <li>
                @*------------------------------------------------------------------*@
                @* Receiving The Program Name From The Controller using The ViewBag To Use It In The BreadCrump For The History Pages *@

                <a href="@Url.Action("EditProgram", "Program", new { id = Convert.ToInt32(Url.RequestContext.RouteData.Values["id"]) })">@ViewBag.EditedProgramName</a>
            </li>
        </ul>
    </div>
}

<h2></h2>

@using (Html.BeginForm("SavePrg", "Program"))
{

    <div class="form-group">
        @StudentActivity.Resources.Language.ProgramName
        @Html.TextBoxFor(m => m.program.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.program.Title)
    </div>
    <div class="form-group">
        @StudentActivity.Resources.Language.Time
        @Html.TextBoxFor(m => m.program.Time, new { @id = "Time", @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.program.Time)
    </div>
    <div class="form-group">
        @StudentActivity.Resources.Language.StartDate
        @Html.TextBoxFor(m => m.program.StartDate, new { @class = "form-control datepicker", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.program.StartDate)
    </div>
    <div class="form-group">
        @StudentActivity.Resources.Language.EndDate
        @Html.TextBoxFor(m => m.program.EndDate, new { @id = "EndDate", @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(m => m.program.EndDate)
    </div>
    <div class="form-group">
        @StudentActivity.Resources.Language.MaximumStudentNumber
        @Html.TextBoxFor(m => m.program.MaximumStudentNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.program.MaximumStudentNumber)
    </div>
    <div class="form-group">
        @StudentActivity.Resources.Language.ClubId
        @Html.DropDownListFor(m => m.program.ClubId, new SelectList(Model.club, "Id", "Name"), @StudentActivity.Resources.Language.Select_a_Club, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.program.ClubId)
    </div>
    <div class="form-group">
        @StudentActivity.Resources.Language.Description
        @Html.TextAreaFor(m => m.program.Description, new { @class = "form-control" })
    </div>

    <input id="program.PendingStatus" name="program.PendingStatus" type="hidden" value="1" />

    <input id="program.IsVisible" name="program.IsVisible" type="hidden" value="True" />

    @Html.HiddenFor(m => m.program.Id)
    @Html.AntiForgeryToken()
    <button type="button" onclick="location.href = '@Url.Action("Index", "Program")'" class="btn btn-default">
        <i class="fa fa-times"></i> @StudentActivity.Resources.Language.Cancel
    </button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddNewProgramByAdminConfirmationMessage">
        <i class="fa fa-check"></i> @StudentActivity.Resources.Language.Save
    </button>

    <!-- Custom Confirmation Message Using Modal -->
    <div class="modal fade" id="AddNewProgramByAdminConfirmationMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="exampleModalLabel">@StudentActivity.Resources.Language.ConfirmationMessage</h4>
                </div>
                <div class="modal-body text-center">
                    @StudentActivity.Resources.Language.SaveConfirmationMessage
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> @StudentActivity.Resources.Language.Cancel</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @StudentActivity.Resources.Language.Confirm</button>
                </div>
            </div>
        </div>
    </div>

}

@section scripts
{
    @Scripts.Render("~/Scripts/DatePicker.js")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            $("#EndDate").datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-0:+10",
                minDate: "@Model.program.EndDate"
                });
        });
    </script>
}