@model StudentActivity.ViewModel.ProgramViewModel
@{
    ViewBag.Title = "RetrievePrg";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishAdminLayout.cshtml";

    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "AdminHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Available_Programs, "Index", "Program")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Add_New_Program, "addProgram", "Program")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Retrieve_a_program, "RetrievePrg", "Program")</li>
        </ul>
    </div>
}

<h2></h2>

@using (Html.BeginForm("SaveRetrievePrg", "Program"))
{

    <div class="form-group">
        @StudentActivity.Resources.Language.ProgramName
        @Html.DropDownListFor(m => m.program.Id, new SelectList(Model.enumProgram, "Id", "Title"), StudentActivity.Resources.Language.Select_a_Program, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.program.Id)

    @Html.AntiForgeryToken()
    <button type="button" onclick="location.href = '@Url.Action("addProgram", "Program")'" class="btn btn-default">
        @StudentActivity.Resources.Language.Cancel
    </button>
    <button type="submit" class="btn btn-primary">
        @StudentActivity.Resources.Language.Save
    </button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}