@model StudentActivity.ViewModel.ProgramViewModel
@{
    ViewBag.Title = "RetrievePrg";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishAdminLayout.cshtml";
}

<h2></h2>

@using (Html.BeginForm("SaveRetrievePrg", "Program"))
{

    <div class="form-group">
        @StudentActivity.Resources.Language.Title
        @Html.DropDownListFor(m => m.program.Id, new SelectList(Model.enumProgram,"Id","Title"), StudentActivity.Resources.Language.Select_a_Program, new {@class="form-control" })
    </div>

    @Html.HiddenFor(m => m.program.Id)

    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">
        @StudentActivity.Resources.Language.Save
    </button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}