@model StudentActivity.ViewModel.ProgramViewModel
@{
    ViewBag.Title = "RetrievePrg";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishAdminLayout.cshtml";

    //HistoryBar Showing the Pages History
    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "AdminHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Available_Programs, "Index", "Program")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Add_New_Program, "addProgram", "Program")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Retrieve_a_program, "RetrievePrg", "Program")</li>
        </ul>
    </div>
}

<h2></h2>

@using (Html.BeginForm("SaveRetrievePrg", "Program"))
{

    <div class="form-group">
        @StudentActivity.Resources.Language.ProgramName
        @Html.DropDownListFor(m => m.program.Id, new SelectList(Model.enumProgram, "Id", "Title"), StudentActivity.Resources.Language.Select_a_Program, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.program.Id)

    @Html.AntiForgeryToken()

    <button type="button" onclick="location.href = '@Url.Action("addProgram", "Program")'" class="btn btn-default">
        <i class="fa fa-times"></i> @StudentActivity.Resources.Language.Cancel
    </button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddNewProgramByAdminConfirmationMessage">
        <i class="fa fa-check"></i> @StudentActivity.Resources.Language.Submit
    </button>

    <!-- Custom Confirmation Message Using Modal -->
    <div class="modal fade" id="AddNewProgramByAdminConfirmationMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="exampleModalLabel">@StudentActivity.Resources.Language.ConfirmationMessage</h4>
                </div>
                <div class="modal-body text-center">
                    @StudentActivity.Resources.Language.ProgramRetrieveConfirmation
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> @StudentActivity.Resources.Language.Cancel</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @StudentActivity.Resources.Language.Confirm</button>
                </div>
            </div>
        </div>
    </div>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}