@model IEnumerable<StudentActivity.Models.Program>

@if (User.IsInRole("CanManageClubs"))
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishClubCorLayout.cshtml";
}
else
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishStudentLayout.cshtml";
}

@if (!Model.Any())
{
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <h1>@StudentActivity.Resources.Language.No_available_programs</h1>
        <br />
    </div>
}

else
{
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <h2>@StudentActivity.Resources.Language.Choose_a_program_to_register</h2>
        <br />
    </div>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @StudentActivity.Resources.Language.Title
            </th>
            <th>
                @StudentActivity.Resources.Language.Time
            </th>
            <th>
                @StudentActivity.Resources.Language.StartDate
            </th>
            <th>
                @StudentActivity.Resources.Language.EndDate
            </th>
            <th>
                @StudentActivity.Resources.Language.MaximumStudentNumber
            </th>
            <th>
                @StudentActivity.Resources.Language.Club_Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Time
                </td>
                <td>
                    @item.StartDate
                </td>
                <td>
                    @item.EndDate
                </td>
                <td>
                    @item.MaximumStudentNumber
                </td>
                <td>
                    @item.Club.Name
                </td>
                <td>
                    @Html.ActionLink(@StudentActivity.Resources.Language.Details, "ProgramDetails", "Program", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink(@StudentActivity.Resources.Language.Register, "Registration", "Program", new { programId = item.Id },
                    new { @class = "btn btn-primary", onclick = "return confirm('Are you sure you want to add this program?')"})
                </td>
            </tr>
        }

    </table>

}