@model IEnumerable<StudentActivity.Models.Program>

@if (User.IsInRole("CanManageClubs"))
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishClubCorLayout.cshtml";

    //HistoryBar Showing the Pages History
    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "ClubCorHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Available_Programs, "ShowPrgStu", "Program")</li>
        </ul>
    </div>
}
else
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishStudentLayout.cshtml";

    //HistoryBar Showing the Pages History
    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "StudentHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Available_Programs, "ShowPrgStu", "Program")</li>
        </ul>
    </div>
}

@{
    // Receiving The Alerts From The Controller using The ViewBag

    if (ViewBag.errorMessage == 1)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <strong>@StudentActivity.Resources.Language.Error</strong> @StudentActivity.Resources.Language.Student_already_registered_in_program
        </div>

        ViewBag.errorMessage = 0;

    }

    if (ViewBag.programRegisteredIsFullErrorMessage == 1)
    {
        <div class="alert alert-danger alert-dismissible" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <strong>@StudentActivity.Resources.Language.Error</strong> @StudentActivity.Resources.Language.ProgramIsFull
        </div>

        ViewBag.programRegisteredIsFullErrorMessage = 0;

    }
}

@if (!Model.Any())
{
    <h1>@StudentActivity.Resources.Language.No_available_programs</h1>
}

else
{
    <h2>@StudentActivity.Resources.Language.Choose_a_program_to_register</h2>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                @StudentActivity.Resources.Language.ProgramName
            </th>
            <th>
                @StudentActivity.Resources.Language.Time
            </th>
            <th>
                @StudentActivity.Resources.Language.StartDate
            </th>
            <th>
                @StudentActivity.Resources.Language.EndDate
            </th>
            <th class="row-center">
                @StudentActivity.Resources.Language.MaximumStudentNumber
            </th>
            <th class="row-center">
                @StudentActivity.Resources.Language.Club_Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Time
                </td>
                <td>
                    @item.StartDate
                </td>
                <td>
                    @item.EndDate
                </td>
                <td align="center">
                    @item.MaximumStudentNumber
                </td>
                <td align="center">
                    @item.Club.Name
                </td>
                <td align="right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.Id">
                        @StudentActivity.Resources.Language.Details
                    </button>

                    <!-- Details Modal -->
                    <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h3 class="modal-title text-center" id="exampleModalLabel">@item.Title</h3>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered table-hover">
                                        <tr class="danger">
                                            <td class="row-center">@StudentActivity.Resources.Language.Time</td>
                                            <td class="row-center">@item.Time</td>
                                        </tr>

                                        <tr>
                                            <td class="row-center">@StudentActivity.Resources.Language.StartDate</td>
                                            <td class="row-center">@item.StartDate</td>
                                        </tr>

                                        <tr class="danger">
                                            <td class="row-center">@StudentActivity.Resources.Language.EndDate</td>
                                            <td class="row-center">@item.EndDate</td>
                                        </tr>

                                        <tr>
                                            <td class="row-center">@StudentActivity.Resources.Language.MaximumStudentNumber</td>
                                            <td class="row-center">@item.MaximumStudentNumber</td>
                                        </tr>
                                        @if (item.Description != null)
                                        {
                                            <tr class="danger">
                                                <td class="row-center">@StudentActivity.Resources.Language.Description</td>
                                                <td>@item.Description</td>
                                            </tr>
                                        }
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                    @*@Html.ActionLink(@StudentActivity.Resources.Language.RegisterInProgram, "Registration", "Program", new { programId = item.Id },
                        new { @class = "btn btn-primary", onclick = "return confirm('Are you sure you want to add this program?')" })*@


                    @*//This href is going to call LeaveClubConfirmationEng javascrip function to show the confrimatio message before it goes to the action*@
                    <a href="@Url.Action("Registration", "Program", new { programId = item.Id })" class="RegisterProgramConfirmationEng btn btn-blue ">@StudentActivity.Resources.Language.RegisterInProgram</a>

                </td>
                
            </tr>
        }

    </table>

}