@model IEnumerable<StudentActivity.Models.Student_Program>

@if (User.IsInRole("CanManageClubs"))
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishClubCorLayout.cshtml";

    //HistoryBar Showing the Pages History
    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "ClubCorHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Registered_Programs, "StuPrograms", "Program")</li>
        </ul>
    </div>
}

else
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishStudentLayout.cshtml";

    //HistoryBar Showing the Pages History
    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "StudentHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Registered_Programs, "StuPrograms", "Program")</li>
        </ul>
    </div>
}

@{
    // Receiving The Alerts From The Controller using The ViewBag

    if (ViewBag.DeleteStuProgramSuccess == 1)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <strong>@StudentActivity.Resources.Language.Success</strong> @ViewBag.DeletedStuProgramName @StudentActivity.Resources.Language.DeletedSuccessfully
        </div>

        ViewBag.DeleteStuProgramSuccess = 0;

    }

    if (ViewBag.RegisterStuProgramSuccess == 1)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
            <strong>@StudentActivity.Resources.Language.Success</strong> @ViewBag.RegisterStuProgramName @StudentActivity.Resources.Language.ProgramRegisterSuccessfully
        </div>

        ViewBag.RegisterStuProgramSuccess = 0;

    }

}

@if (!Model.Any())
{
    <h1>@StudentActivity.Resources.Language.No_programs_registered</h1>
}

else
{
    <h2>@StudentActivity.Resources.Language.Registered_Programs</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @StudentActivity.Resources.Language.ProgramName
            </th>
            <th>
                @StudentActivity.Resources.Language.Time
            </th>
            <th>
                @StudentActivity.Resources.Language.StartDate
            </th>
            <th>
                @StudentActivity.Resources.Language.EndDate
            </th>
            <th class="row-center">
                @StudentActivity.Resources.Language.MaximumStudentNumber
            </th>
            <th>
                @StudentActivity.Resources.Language.Club_Name
            </th>
            <th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.EndDate)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Program.MaximumStudentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.Club.Name)
                </td>
                <td align="right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.Program.Id">
                        @StudentActivity.Resources.Language.Details
                    </button>

                    <!-- Details Modal -->
                    <div class="modal fade" id="@item.Program.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h3 class="modal-title text-center" id="exampleModalLabel">@item.Program.Title</h3>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered table-hover">
                                        <tr class="danger">
                                            <td class="row-center">@StudentActivity.Resources.Language.Time</td>
                                            <td class="row-center">@item.Program.Time</td>
                                        </tr>

                                        <tr>
                                            <td class="row-center">@StudentActivity.Resources.Language.StartDate</td>
                                            <td class="row-center">@item.Program.StartDate</td>
                                        </tr>

                                        <tr class="danger">
                                            <td class="row-center">@StudentActivity.Resources.Language.EndDate</td>
                                            <td class="row-center">@item.Program.EndDate</td>
                                        </tr>

                                        <tr>
                                            <td class="row-center">@StudentActivity.Resources.Language.MaximumStudentNumber</td>
                                            <td class="row-center">@item.Program.MaximumStudentNumber</td>
                                        </tr>
                                        @if (item.Program.Description != null)
                                        {
                                            <tr class="danger">
                                                <td class="row-center">@StudentActivity.Resources.Language.Description</td>
                                                <td>@item.Program.Description</td>
                                            </tr>
                                        }
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                    @* This href is going to call  LeaveClubConfirmationEng javascrip function to show the confrimatio message before it goes to the action*@
                    <a href="@Url.Action("DeleteStuPrg", "Program", new { studentId = item.StudentId, programId = item.ProgramId })" class="DeleteProgramConfirmationEng btn btn-danger">@StudentActivity.Resources.Language.Delete</a>
                </td>
            </tr>
        }
    </table>
}
