@model StudentActivity.Models.Student_Program

@{
    ViewBag.Title = "RegistrationFormAdmin";
    Layout = "~/Views/Shared/ArabicLayout/ArabicParameterIdLayout/_ArabicAdminPIdLayout.cshtml";

    //HistoryBar Showing the Pages History
    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "AdminHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.FinishedPrograms, "RegisteredPrograms", "Program")</li>
            <li>
                @*------------------------------------------------------------------*@
                @* Receiving The Program Name From The Controller using The ViewBag To Use It In The BreadCrump For The History Pages *@

                <a href="@Url.Action("EligibleList", "Program", new { id = Convert.ToInt32(Url.RequestContext.RouteData.Values["id"]) })">@ViewBag.AddStuToEligListProgramTitle</a>
            </li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Add_Student, "RegistrationFromAdmin", "Program")</li>
        </ul>
    </div>
}

<h2></h2>

@using (Html.BeginForm("SaveFromAdmin", "Program"))
{
    <div class="form-group">
        @StudentActivity.Resources.Language.Student_Id
        @Html.TextBoxFor(m => m.StudentId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StudentId)
    </div>

    @Html.HiddenFor(m => m.ProgramId)
    @Html.AntiForgeryToken()

    <button type="button" onclick="location.href = '@Url.Action("EligibleList", "Program", new { id = Model.ProgramId })'" class="btn btn-default">
        <i class="fa fa-times"></i> @StudentActivity.Resources.Language.Cancel
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddNewStudentToProgram">
        <i class="fa fa-check"></i> @StudentActivity.Resources.Language.Submit
    </button>

    <!-- Custom Confirmation Message Using Modal -->
    <div class="modal fade" id="AddNewStudentToProgram" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="exampleModalLabel">@StudentActivity.Resources.Language.ConfirmationMessage</h4>
                </div>
                <div class="modal-body text-center">
                    @StudentActivity.Resources.Language.AddNewStudentToProgramConfirmMessage
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> @StudentActivity.Resources.Language.Cancel</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> @StudentActivity.Resources.Language.Confirm</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}