@model StudentActivity.Models.Student_Program
@{
    ViewBag.Title = "RegistrationFormAdmin";
    Layout = "~/Views/Shared/ArabicLayout/ArabicParameterIdLayout/_ArabicAdminPIdLayout.cshtml";

    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "AdminHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Registered_Programs, "RegisteredPrograms", "Program")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Students_List, "EligibleList", "Program", new { id = Convert.ToInt32(Url.RequestContext.RouteData.Values["id"]) }, null)</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Add_Student, "RegistrationFromAdmin", "Program")</li>
        </ul>
    </div>
}

<h2></h2>


@using (Html.BeginForm("SaveFromAdmin", "Program"))
{
    <div class="form-group">
        @StudentActivity.Resources.Language.Student_Id
        @Html.TextBoxFor(m => m.StudentId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StudentId)
    </div>

    @Html.HiddenFor(m => m.ProgramId)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">
        @StudentActivity.Resources.Language.Save
    </button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}