@model IEnumerable<StudentActivity.Models.Student_Program>

@if (User.IsInRole("CanManageClubs"))
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/ArabicLayout/_ArabicClubCorLayout.cshtml";

    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "ClubCorHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Registered_Programs, "StuPrograms", "Program")</li>
        </ul>
    </div>
}
else
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/ArabicLayout/_ArabicStudentLayout.cshtml";

    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "StudentHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Registered_Programs, "StuPrograms", "Program")</li>
        </ul>
    </div>
}

@if (!Model.Any())
{
    <h1>@StudentActivity.Resources.Language.No_programs_registered</h1>
}

else
{
    <h2>@StudentActivity.Resources.Language.Registered_Programs</h2>
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @StudentActivity.Resources.Language.Title
            </th>
            <th>
                @StudentActivity.Resources.Language.Time
            </th>
            <th>
                @StudentActivity.Resources.Language.StartDate
            </th>
            <th>
                @StudentActivity.Resources.Language.EndDate
            </th>
            <th>
                @StudentActivity.Resources.Language.MaximumStudentNumber
            </th>
            <th>
                @StudentActivity.Resources.Language.Club_Name
            </th>
            <th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.MaximumStudentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Program.Club.Name)
                </td>
                <td>
                    @Html.ActionLink(@StudentActivity.Resources.Language.Details, "ProgramDetails", "Program", new { id = item.ProgramId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink(@StudentActivity.Resources.Language.Delete, "DeleteStuPrg", "Program", new { studentId = item.StudentId, programId = item.ProgramId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </table>
}