<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Student activities</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/SiteRtl.css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "ClubCorHome", "Home", new { area = "" }, new { @class = "navbar-brand fas fa-home fa-lg fa-2x" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(StudentActivity.Resources.Language.Available_Programs, "ShowPrgStu", "Program")</li>
                    <li>@Html.ActionLink(StudentActivity.Resources.Language.Registered_Programs, "StuPrograms", "Program")</li>
                    <li>@Html.ActionLink(StudentActivity.Resources.Language.Clubs, "ShowClubs", "Club")</li>
                    <li>@Html.ActionLink(StudentActivity.Resources.Language.Request_Programs, "RequestedProgramsClubCor", "Program")</li>
                </ul>
                @*<ul class="nav  navbar-right navbar-text">
                         <li class="">@Session["Id"].ToString()</li>
                    </ul>*@
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink(StudentActivity.Resources.Language.Log_Off, "LogOff", "Account")</li>
                    <li>@Html.ActionLink("English", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "en", id = 1 }, null)</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>