@*@{
        ViewBag.Title = "Home Page";
        Layout = "~/Views/Shared/EnglishLayout/_EnglishLayout.cshtml";

        <div>
            <ul class="breadcrumb">
                <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "Index", "Home")</li>
            </ul>
        </div>
    }

    <div class="jumbotron">
        <h1>@StudentActivity.Resources.Language.JUC_Activities_Website</h1>
        <p class="lead">@StudentActivity.Resources.Language.JUC_intro</p>
    </div>
    <img class="col-lg-offset-4 col-md-offset-4 col-sm-offset-3
         col-xs-offset-2 col-lg-4 col-md-4 col-sm-6 col-xs-8"
         alt="Juc logo" src="/images/Juc logo.png" />*@
@*
        <div class="row" style="margin-right: 100px;">
            <div class="col-md-6"><button>Mechanical Engineering</button></div>
    </div>*@

@{
    Layout = "~/Views/Shared/NewTheme/_EnglishLayout.cshtml";
}

@model  StudentActivity.ViewModel.ProgramClubsViewModel

@if (!Model.Programs.Any())
{
    <h1>@StudentActivity.Resources.Language.No_available_programs</h1>
}

else
{
    <div id="AvailablePrograms" class="container-fluid">
        <div class="text-center">
            <h2>@StudentActivity.Resources.Language.Available_Programs</h2>
            <h4>@StudentActivity.Resources.Language.CurrentProgramsList</h4>
        </div>

        <div class="row slideanim">
            @foreach (var item in Model.Programs)
            {
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h5>@item.Title</h5>
                        </div>
                        <div class="panel-body">
                            <p><strong>@StudentActivity.Resources.Language.Time:</strong> @item.Time</p>
                            <p><strong>@StudentActivity.Resources.Language.StartDate:</strong> @item.StartDate</p>
                            <p><strong>@StudentActivity.Resources.Language.EndDate:</strong> @item.EndDate</p>
                            <p><strong>@StudentActivity.Resources.Language.MaximumStudentNumber:</strong> @item.MaximumStudentNumber</p>
                            <p><strong> @StudentActivity.Resources.Language.Club_Name:</strong> @item.Club.Name</p>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.Id">
                                @StudentActivity.Resources.Language.Details
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h3 class="modal-title text-center" id="exampleModalLabel">@item.Title</h3>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-bordered table-hover">
                                                <tr class="danger">
                                                    <td class="row-center">@StudentActivity.Resources.Language.Time:</td>
                                                    <td class="row-center">@item.Time</td>
                                                </tr>

                                                <tr>
                                                    <td class="row-center">@StudentActivity.Resources.Language.StartDate:</td>
                                                    <td class="row-center">@item.StartDate</td>
                                                </tr>

                                                <tr class="danger">
                                                    <td class="row-center">@StudentActivity.Resources.Language.EndDate:</td>
                                                    <td class="row-center">@item.EndDate</td>
                                                </tr>

                                                <tr>
                                                    <td class="row-center">@StudentActivity.Resources.Language.MaximumStudentNumber:</td>
                                                    <td class="row-center">@item.MaximumStudentNumber</td>
                                                </tr>
                                                @if (item.Description != null)
                                                {
                                                    <tr class="danger">
                                                        <td class="row-center">@StudentActivity.Resources.Language.Description:</td>
                                                        <td>@item.Description</td>
                                                    </tr>
                                                }
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div id="Clubs" class="container-fluid bg-grey">
    <div class="row slideanim">
        @foreach (var item in Model.Clubs)
        {
            <div class="col-sm-4 col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3>@item.Name</h3>
                    </div>
                    <div class="panel-body">
                        <p><strong>@item.ClubVisionEng</strong></p>
                    </div>
                    <div class="panel-footer">
                        <p>@StudentActivity.Resources.Language.ClubCoordinator:<br /> @item.Student.Name</p>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

@Html.Partial("~/Views/Shared/NewTheme/_FourthPage.cshtml")

