@model StudentActivity.Models.Club
@{
    ViewBag.Title = "ClubForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ClubForm</h2>

@using (Html.BeginForm("Save", "Club"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @*Html.ValidationMessageFor(m => m.Customer.Name)*@
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.StudentId)
        @Html.TextBoxFor(m => m.StudentId, new { @class = "form-control" })
        @*Html.ValidationMessageFor(m => m.Customer.Name)*@
    </div>
    @Html.HiddenFor(m => m.Id)

    <button type="submit" class="btn btn-primary">
        Save
    </button>
}