@model IEnumerable<StudentActivity.Models.Club>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2></h2>

<p>
    @Html.ActionLink("+ Add New Club","addClub", "Club",new {@class ="btn btn-blue btn-left" } )
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            Coordinator
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditClub", "Club", new { id = item.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
