@model StudentActivity.ViewModel.StudentClubViewModel
@if (User.IsInRole("CanManageClubs"))
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/_ClubCorLayout.cshtml";
}
else
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2></h2>

@using (Html.BeginForm("SaveStuClub", "Club"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.StudentClub.ClubId)
        @Html.DropDownListFor(m => m.StudentClub.ClubId, new SelectList(Model.Clubs, "Id", "Name"), "Select a Club", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StudentClub.ClubId)
    </div>
    @Html.HiddenFor(m => m.StudentClub.StudentId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">
        Save
    </button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}