@model IEnumerable<StudentActivity.Models.Student_Program>
@{
    ViewBag.Title = "EligibleList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2></h2>
@if (!Model.Any())
{
    <h1>There are no student registered in this program</h1>
}

else { 
<p>
    @Html.ActionLink("+ Add Student", "RegistrationFromAdmin", "Program", new {Model.First().ProgramId } ,new { @class = "btn btn-blue btn-left" })
</p>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Name)
            </td>
        </tr>
    }
</table>
}