@model IEnumerable<StudentActivity.Models.Program>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("+New","addProgram", "Program")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaximumStudentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club.Name)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @item.Title
    </td>
    <td>
        @item.Time
    </td>
    <td>
        @item.StartDate
    </td>
    <td>
        @item.EndDate
    </td>
    <td>
        @item.MaximumStudentNumber
    </td>
    <td>
        @item.Club.Name
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
