@model  StudentActivity.Models.Student_Program
@{
    ViewBag.Title = "RegistrationForm";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2></h2>

@using (Html.BeginForm("Save", "Program"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.StudentId)
        @Html.TextBoxFor(m => m.StudentId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StudentId)
    </div>

    @Html.HiddenFor(m => m.ProgramId)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary">
        Save
    </button>
}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}