@model IEnumerable<StudentActivity.Models.Program>

@if(User.IsInRole("CanManagePrograms"))
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

else if (User.IsInRole("CanManageClubs"))
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/_ClubCorLayout.cshtml";

    <h2></h2>
    <p>
        @Html.ActionLink("+ " + @StudentActivity.Resources.Language.Request_Programs, "RequestProgram", "Program", new { @class = "btn  btn-blue btn-left" })
    </p>

}

@if (!Model.Any())
{
<h2>@StudentActivity.Resources.Language.No_pending_programs</h2>
}

else
{
    <h2>@StudentActivity.Resources.Language.Pending_Programs</h2>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                @StudentActivity.Resources.Language.Title
            </th>
            <th>
                @StudentActivity.Resources.Language.Time
            </th>
            <th>
                @StudentActivity.Resources.Language.StartDate
            </th>
            <th>
                @StudentActivity.Resources.Language.EndDate
            </th>
            <th>
                @StudentActivity.Resources.Language.MaximumStudentNumber
            </th>
            <th>
                @StudentActivity.Resources.Language.Club_Name
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Time
                </td>
                <td>
                    @item.StartDate
                </td>
                <td>
                    @item.EndDate
                </td>
                <td>
                    @item.MaximumStudentNumber
                </td>
                <td>
                    @item.Club.Name
                </td>
                @if (User.IsInRole("CanManagePrograms"))
                {
                    <td>
                        @Html.ActionLink(@StudentActivity.Resources.Language.Approve, "ApproveProgram", "Program", new { id = item.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink(@StudentActivity.Resources.Language.Reject, "RejectProgram", "Program", new { id = item.Id }, new { @class = "btn btn-primary" })
                    </td>
                }

            </tr>
        }

    </table>
}
