@model StudentActivity.ViewModel.StudentClubViewModel
@if (User.IsInRole("CanManageClubs"))
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishClubCorLayout.cshtml";

    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "ClubCorHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Clubs, "ShowClubs", "Club")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Join_Club, "AddStuClubs", "Club")</li>
        </ul>
    </div>
}
else
{
    ViewBag.Title = "ShowPrgStu";
    Layout = "~/Views/Shared/EnglishLayout/_EnglishStudentLayout.cshtml";

    <div>
        <ul class="breadcrumb">
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Home, "StudentHome", "Home")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Clubs, "ShowClubs", "Club")</li>
            <li>@Html.ActionLink(StudentActivity.Resources.Language.Join_Club, "AddStuClubs", "Club")</li>
        </ul>
    </div>
}

<h2></h2>

@using (Html.BeginForm("SaveStuClub", "Club"))
{

    <div class="form-group">
        @StudentActivity.Resources.Language.ClubId
        @Html.DropDownListFor(m => m.StudentClub.ClubId, new SelectList(Model.Clubs, "Id", "Name"), @StudentActivity.Resources.Language.Select_a_Club, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StudentClub.ClubId)
    </div>
    @Html.HiddenFor(m => m.StudentClub.StudentId)
    @Html.AntiForgeryToken()

    <button type="button" onclick="location.href = '@Url.Action("ShowClubs", "Club")'" class="btn btn-default">
        @StudentActivity.Resources.Language.Cancel
    </button>
    <button type="submit" class="btn btn-primary">
        @StudentActivity.Resources.Language.Save
    </button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}