<!-- Container (About Section) -->
<div id="About" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>@StudentActivity.Resources.Language.AboutStudentsActivities</h2><br>
            <h4>@StudentActivity.Resources.Language.StudentsActivitiesIntro</h4><br>
            <p>@StudentActivity.Resources.Language.StudentsActivitiesMainGoal</p>

            @*<br><button class="btn btn-default btn-lg">Get in Touch</button>*@
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-signal logo"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo slideanim"></span>
        </div>
        <div class="col-sm-8">
            <h2>@StudentActivity.Resources.Language.OurValues</h2><br>
            <h4><strong>@StudentActivity.Resources.Language.MISSION:</strong> @StudentActivity.Resources.Language.MISSIONBody</h4><br>
            <p>
                <strong>@StudentActivity.Resources.Language.VISION:</strong>  @StudentActivity.Resources.Language.VISIONBody
            </p>
        </div>
    </div>
</div>
