@using System.Collections.Specialized
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/DynamicView.js")
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage">@StudentActivity.Resources.Language.JUC</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#About">@StudentActivity.Resources.Language.About</a></li>
                    <li><a href="#services">@StudentActivity.Resources.Language.Services</a></li>
                    <li><a href="#portfolio">@StudentActivity.Resources.Language.Portfolio</a></li>
                    <li><a href="#AvailablePrograms">@StudentActivity.Resources.Language.Available_Programs</a></li>
                    <li><a href="#Clubs">@StudentActivity.Resources.Language.Clubs</a></li>
                    <li><a href="#contact">@StudentActivity.Resources.Language.Contact</a></li>
                </ul>
                <div class="nav navbar-nav navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink(StudentActivity.Resources.Language.Log_in, "Login", "Account")</li>
                            <li>@Html.ActionLink(StudentActivity.Resources.Language.Register, "Register", "Account")</li>
                            <li>@Html.ActionLink("عربي", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "ar" }, null)</li>
                        </ul>
                </div>
            </div>
        </div>
    </nav>



    <div class="jumbotron text-center">
        <h1><strong>@StudentActivity.Resources.Language.Student_s_Activity</strong></h1>
        <p>@StudentActivity.Resources.Language.StudentActivityShortIntro</p>
    </div>

    @Html.Partial("~/Views/Shared/NewTheme/_AboutPage.cshtml");

    @Html.Partial("~/Views/Shared/NewTheme/_ServicesPage.cshtml");

    @Html.Partial("~/Views/Shared/NewTheme/_PortfolioPage.cshtml");

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="container-fluid text-center">
            <a href="#myPage" title="To Top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
