<!-- Container (Services Section) -->

<div id="services" class="container-fluid text-center">
    <h2>@StudentActivity.Resources.Language.Services</h2>
    <h4>@StudentActivity.Resources.Language.WhatWeOffer</h4>
    <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4>@StudentActivity.Resources.Language.Programs</h4>
            <p>@StudentActivity.Resources.Language.ProgramsOfferedIntro</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart logo-small"></span>
            <h4>@StudentActivity.Resources.Language.Love</h4>
            <p>@StudentActivity.Resources.Language.LoveIntro</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <h4>@StudentActivity.Resources.Language.Mobility</h4>
            <p>@StudentActivity.Resources.Language.MobilityIntro</p>
        </div>
    </div>
    <br><br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4>@StudentActivity.Resources.Language.Connectivity</h4>
            <p>@StudentActivity.Resources.Language.ConnectivityIntro</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-certificate logo-small"></span>
            <h4>@StudentActivity.Resources.Language.Certified</h4>
            <p>@StudentActivity.Resources.Language.CertifiedIntro</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4 style="color:#303030;">@StudentActivity.Resources.Language.HardWork</h4>
            <p>@StudentActivity.Resources.Language.HardWorkIntro</p>
        </div>
    </div>
</div>
